body {
    overflow-x: hidden;
}
.hero-img {
    height: 815px;
    background-image: url(../assets/Home-Hero-Image.jpg);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: -105%;
}

.hero-buttons {
    display: flex;
    justify-content: end;
    margin: 20px 94px 3px;
    font-size: 0.80em;
}

.hero-buttons a {
    text-decoration: none;
    color: $grey-color;
    padding: 8px 8px;
    border: 1px solid #FFFFFF;
}

.hero-buttons a:hover {
   border: 1px solid $yellow-color;
}

.navigation {
    display: flex;
    justify-content: end;
    margin-right: 80px;
    gap: 20px;
}


.navi-btn {
    background-color: white;
    border: none;
    padding: 10px 20px;
    border: 1px solid #FFFFFF;
}

.navi-btn:hover {
    border: 1px solid black;
}

.main {
    display: flex;
    justify-content: end;
    padding: 180px 350px;
    text-align: center;
}

.main-text {
    position: relative;
    left: 20%;
    font-size: 1.85em;
}

.main-text p {
    margin: 3px;
}

.main-text img {
    margin-top: 20px;
}

.main-buttons {
    position: absolute;
    top: 54%;
    right: 9.3%;
}

.main-btn {
    max-width: 275px;
    background-color: white;
    border: 1px solid $grey-color;
    color: $black-color;
    padding: 12px 38px;
    margin: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.85em;
    font-weight: 300;
}

.columns {
    display: flex;
    justify-content: center;
    margin: 213px 0 0;
    background-color: $yellow-color;
}

.columns-text {
    text-align: center;
    color: $black-color;
    font-weight: lighter;
    padding: 65px 80px;
}

.columns-text h1 {
    margin: 1px;
    font-size: 4em;
    font-weight: 300;
}

.columns-text p {
    text-transform: uppercase;
    margin: 15px;
    font-weight: 400;
}

.columns-text span {
    max-width: 100px;
}

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
} 

.about-text {
    position: relative;
    left: 0.2%;
    margin: 30px;
    text-align: center;
}

.about-text h1 {
    font-weight: 400;
}

.about-columns {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 50px 280px;
    gap: 100px;
    background-color: $white-color;
}

.about-column {
    text-align: center;
    padding: 10px 10px;
}

.about-column p {
    margin: 0;
}

.about-column span {
    font-size: 0.75em;
}

.about-button {
    margin: 20px 0 50px;
}

.about-btn {
    max-width: 275px;
    background-color: white;
    border: 1px solid $grey-color;
    color: $black-color;
    padding: 10px 38px;
    margin: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.85em;
    font-weight: 300;
}

.us {
    display: flex;
    align-items: center;
    justify-content: center;
}

.us-text {
    max-width: 520px;
    text-align: center;
    background-color: $white-color;
    padding: 140px 140px 140px 100px;
    color: $black-color;
}

.us-text h1 {
    font-size: 2em;
    font-weight: 400;
}

.us-text p {
    text-align: center;
    font-size: 1.5em;
   max-width: 980px;
   line-height: 40px;
}

.us-signature {
    position: relative;
    left: 40%;
}

.us-img {
    overflow: hidden;
}

.us-img img {
    position: relative;
    max-width: 140%;
    top: 2.6px;
    height: 766px;
}


.foundation-text {
    position: relative;
    left: 0.5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.foundation-text h1 {
    margin: 60px 0 20px 0;
    font-size: 2em;
    font-weight: 400;
    color: $black-color;
}

.foundation-text img {
    max-width: 15%;
}

.foundation-buttons {
    display: flex;
    justify-content: center;
    margin: 20px 770px 0;
}

.foundation-btn {
    max-width: 215px;
    background-color: white;
    border: 1px solid white;
    color: $black-color;
    padding: 7px 32px;
    margin: 20px 30px 30px 20px;
    text-align: center;
    font-size: 1.25em;
    font-weight: 400;
}

.foundation-btn:hover,
.foundation-btn.active {
    background-color: white;
    border: 1px solid $grey-color;
}

.category-description {
    max-width: 555px;
    margin-bottom: 60px;
    position: relative;
    left: 32%;
    text-align: center;
    font-size: 1.2em;
}

.items-container {
    margin: 20px 0;
}

.foundation-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 220px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid $black-color;
}

.item-info {
    flex-grow: 1;
}

.item-name {
    margin: 0;
    font-family: $font-alt;
    font-weight: 300;
    font-size: 1.3em;
    color: $black-color;
}

.item-description {
    margin: 0 0 10px;
    margin-top: 5px;
    font-size: 0.9em;
    color: $black-color;
}

.item-additional-text {
    color: $grey-color;
    white-space: nowrap;
    margin-left: 20px;
}

.foundation-pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination-btn {
    margin: 0 12px 50px;
    padding: 8px 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.pagination-btn.active {
    background-color: white;
    border: 1px solid $grey-color;
}


.contact {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    max-height: 800px;
  }
  
  .contact-hero {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 28%; 
    padding-bottom: 55px;
  }
  
  .contact-hero h1 {
    font-size: 1.85em;
    font-weight: 400;
    color: $black-color; 
  }
  
  .contact-hero img {
    max-width: 70%;
  }
  
  .contact-img img {
    width: 115%;
    opacity: 0.2;
  }
  
  .contact-form {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(30%, -70%);
    padding: 20px;
    max-width: 80%; 
    max-width: 600px; 
  }
  
  
  .form-container textarea,
  .form-container input {
    background-color: #FFFFFF;
    border: none;
    border-bottom: 1px solid $grey-color;
    overflow: hidden;
    resize: none;
    margin-top: 5px;
  }
  
  .form-text {
    display: flex;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 0.85em;
  }
  
  .form-email {
    position: relative;
    right: 65px;
  }
  
  .form-login input,
  .form-email input {
    width: 210px;
    height: 30px;
  }
  
  .form-login input::placeholder,
  .form-email input::placeholder {
    color: $white-color; 
    font-size: 1.15em;
    font-weight: 500;
  }
  
  .form-message {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 0.85em;
  }
  
  .form-message textarea {
    height: 95px;
  }
  
  .form-message textarea::placeholder {
    color: $white-color; 
    font-size: 1.1em;
    line-height: 1.2;
    font-weight: 500;
  }

  .form-error {
    color: red;
    font-size: 0.9em;
  }

  .input-error {
    border-bottom: 2px solid red;
  }
  
  .form-login .input-error-name {
    border-bottom: 2px solid red;
  }
  
  .form-email .input-error-email {
    border-bottom: 2px solid red;
  }
  
  .form-message .input-error-message {
    border-bottom: 2px solid red;
  }
  

  .form-success {
    transform: translate(35%, -75%);
    margin: 0;
    max-width: 250px;
    text-align: center;
    font-weight: 700;
    color: forestgreen;
  }
  
  .form-btn {
    position: relative;
    left: 52%; 
    background-color: #fff;
    border: 1px solid $grey-color; 
    color: $black-color; 
    padding: 8px 38px;
    margin: 20px;
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    max-width: 120px;
  }
  
  
  .footer-text {
    display: flex;
    justify-content: end;
    position: relative;
    transform: translate(-325%, 755%);
    text-align: center;
    width: 200px;
    font-size: 0.95em;
    font-weight: 400;
  }
  
  .footer-media {
    display: flex;
    gap: 15px;
    position: relative;
    transform: translate(15%, 1155%);
  }

  .footer-media img {
    max-width: 15%;
  }

  .login-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .login-text {
    margin-top: 60px;
    text-align: center;
  }
  
  .login-text h2 {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 2.25em;
    color: $black-color;
  }

  .login-text img {
    width: 90%;
    margin-bottom: 40px;
  }

  .login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $white-color;
    padding: 55px 100px;
  }

  .login-email {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    font-size: 1em;
    font-weight: 600;
    color: $black-color;
  }

  .login-password {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-weight: 600;
    color: $black-color;
  }

  .login-email input,
  .login-password input {
    background-color: $white-color;
    border: none;
    border-bottom: 2px solid $grey-color;
    margin-top: 15px;
    width: 260px;
  }

  .login-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 190px;
    margin-top: 15px;
  }

  .register-btn {
    position: relative;
    right: 8%;
    text-decoration: none;
    color: $black-color; 
  }

  .login-btn {
    position: relative;
    left: 12%;
    background-color: #fff;
    border: 1px solid $grey-color; 
    color: $black-color; 
    padding: 10px 12px;
    margin: 20px;
    text-align: center;
    font-size: 1em;
    font-weight: 400;
  }

  .login-email .input-error-email {
    border-bottom: 2px solid red;
    margin: 0;
  }
  
  .login-password .input-error-password {
    border-bottom: 2px solid red;
    margin: 0;
  }
  
  
  .login-error {
    color: red;
    font-size: 0.9em;
    margin: 0;
  }