.hero-img {
    height: 815px;
    background-image: url(../assets/Home-Hero-Image.jpg);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: -105%;
}

.hero-buttons {
    display: flex;
    justify-content: end;
    margin: 20px 94px 3px;
    font-size: 0.80em;
}

.hero-buttons a {
    text-decoration: none;
    color: $grey-color;
    padding: 8px 8px;
    border: 1px solid #FFFFFF;
}

.hero-buttons a:hover {
   border: 1px solid $yellow-color;
}

.navigation {
    display: flex;
    justify-content: end;
    margin-right: 80px;
    gap: 20px;
}


.navi-btn {
    background-color: white;
    border: none;
    padding: 10px 20px;
    border: 1px solid #FFFFFF;
}

.navi-btn:hover {
    border: 1px solid black;
}

.main {
    display: flex;
    justify-content: end;
    padding: 180px 350px;
    text-align: center;
}

.main-text {
    position: relative;
    left: 20%;
    font-size: 1.85em;
}

.main-text p {
    margin: 3px;
}

.main-text img {
    margin-top: 20px;
}

.main-buttons {
    position: absolute;
    top: 54%;
    right: 9.3%;
}

.main-btn {
    max-width: 275px;
    background-color: white;
    border: 1px solid $grey-color;
    color: $grey-color;
    padding: 15px 45px;
    margin: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7em;
}

.columns {
    display: flex;
    justify-content: center;
    margin: 213px 0 0;
    background-color: $yellow-color;
}

.columns-text {
    text-align: center;
    color: $black-color;
    font-weight: lighter;
    padding: 65px 80px;
}

.columns-text h1 {
    margin: 1px;
    font-size: 4em;
    font-weight: 300;
}

.columns-text p {
    text-transform: uppercase;
    margin: 15px;
    font-weight: 400;
}

.columns-text span {
    max-width: 100px;
}

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
} 

.about-text {
    margin: 30px;
    text-align: center;
}

.about-text h1 {
    font-weight: 400;
}

.about-columns {
    display: flex;
    margin: 0;
    padding: 50px 280px;
    gap: 100px;
    background-color: $white-color;
}

.about-column {
    text-align: center;
    padding: 10px 10px;
}

.about-column p {
    margin: 0;
}

.about-column span {
    font-size: 0.75em;
}

.about-button {
    margin: 20px 0 50px;
}

.about-btn {
    max-width: 275px;
    background-color: white;
    border: 1px solid $grey-color;
    color: $grey-color;
    padding: 13px 45px;
    margin: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7em;
}